html {
	box-sizing: border-box;
	-web-font-smoothing: antialiased;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/*div {
	border: 1px transparent solid;
}*/

body {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 1.5;
	color: #222;
}

h1 {
	font-family: 'Poller One', cursive;
	font-size: 70px;
	line-height: 2;
	background-color: #8dffd8;
	background: linear-gradient(120deg, #8dffd8 16%, #222 16%);  /*3C397D  4c00d6  8dffd8*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

h2,
h3 {
	padding-bottom: 20px;
}

.name {
	margin-top: 132px;
	margin-left: 182px;

}

.title {
	margin-left: 182px;
	background-color: #8dffd8;
	background: linear-gradient(120deg, #8dffd8 8%, #222 8%);  /*3C397D  4c00d6  8dffd8*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navigation {
	float: right;
	padding-right: 182px;
	padding-top: 20px;
	word-spacing: 10px;
}

.navigation a {
	color: #222;
}

/*.landing {
	height: 100vh;
	background-color: #fff;
    background-image: linear-gradient(120deg, #222 28%, #fff 28%);
}*/

.landing {
	height: 100vh;
	width: 100vw;
	background-image: url(../images/portBackImage2.png);
	background-repeat: no-repeat;
	background-size: 100vw 100vh;

}

.aboutMe {
	background-color: #fff;
	color: #222;
	padding: 150px 300px 150px 182px;
}

.projects {
	padding-left: 182px;
	padding-right: 182px;
	width: 100vw;
	margin-bottom: 150px;
}

.project {
	display: flex;
	padding-top: 40px;
	padding-bottom: 40px;
}

.project p {
	font-size: 15px;
}


.project > .description {
	height: 100%;
	flex: 1;
}

.project > .projectLinks {
	flex: 1;
	height: 100%;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	word-spacing: 10px;
}

.button {
	border: 3px solid;
	padding: 5px 10px 5px 10px;
}

.project:nth-child(even) {
	background-color: #222;
	color: #fff;
}

.project:nth-child(even) > .description {
	padding-left: 20px;
}

.project:nth-child(even) > .projectLinks {

}

.project:nth-child(odd) > .projectLinks {
	padding-left: 10px;
}

.project:nth-child(odd) > .description {

}

.project:nth-child(odd) a {
	color: #222;
}

.project:nth-child(odd) .button:hover {
	color: #fff;
	background-color: #222;
	border: 3px solid #222;
}

.project:nth-child(even) a {
	color: #fff;
}

.project:nth-child(even) .button:hover {
	color: #222;
	background-color: #fff;
	border: 3px solid #fff;
}

footer {
	text-align: center;
	height: 150px;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #222;
	color: #8dffd8;
}

footer h2 {
	padding-top: 50px;
	margin-top: 0;
	margin-bottom: 0;	
}

footer a {
	color: #8dffd8;
}

footer a:hover,
footer a:active,
footer a:focus {
	cursor: hand;
	color: #8dffd8;
	opacity: 0.7;
}

.credits > p {
	font-size: 10px;
	line-height: 1;
}

/*div.project > h3, h4, div.project-description > p, p ,p*/
/*project:nth-child(odd) {*/