html {
	box-sizing: border-box;
	-web-font-smoothing: antialiased;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/*div {
	border: 1px transparent solid;
}*/

body {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 1.5;
	color: #222;
}

h2,
h3 {
	padding-bottom: 20px;
}

/*h1 {
	font-family: 'Poller One', cursive;
	font-size: 70px;
	line-height: 2;
	background-color: #8dffd8;
	background: linear-gradient(120deg, #8dffd8 16%, #222 16%);  3C397D  4c00d6  8dffd8
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}*/

/*.name {
	margin-top: 132px;
	margin-left: 182px;
}

.title {
	margin-left: 182px;
	background-color: #8dffd8;
	background: linear-gradient(120deg, #8dffd8 8%, #222 8%);  3C397D  4c00d6  8dffd8
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/

/*.landing {
	height: 100vh;
	background-color: #fff;
    background-image: linear-gradient(120deg, #222 28%, #fff 28%);
}*/

a:hover,
a:active,
a:after,
a:focus {
	text-decoration: none;
}

header {
	height: 40px;
	width: 100vw;
	position: fixed;
	background-color: #fff;
	z-index: 3;
}

header a:hover {
	opacity: 0.7;
}

.navigation {
	float: right;
	padding-right: 182px;
	padding-top: 7px;
	word-spacing: 10px;
}

.navigation a {
	color: #222;
}

.landing {
/*	height: 100vh;
	width: 100vw;*/
	min-width: 1280px;
	min-height: 800px;
	max-width: 1280px;
	max-height: 800px;
	background-image: url(../images/portBackImage2.png);
	background-repeat: no-repeat;
	background-size: 1280px 760px;
}

.aboutMe {
	background-color: #fff;
	color: #222;
	padding: 150px 300px 100px 182px;
}

.projects {
	padding-top: 50px;
	padding-left: 182px;
	padding-right: 182px;
	width: 100vw;
	margin-bottom: 150px;
}

.project {
	display: flex;
	padding-top: 40px;
	padding-bottom: 40px;
}

.project p {
	font-size: 15px;
}

.icon img {
	width: 250px;
	height: 200px;
}


.project > .description {
	height: 100%;
	flex: 1;
}

.project > .projectLinks {
	flex: 1;
	height: 100%;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	word-spacing: 10px;
}

.button {
	border: 3px solid;
	padding: 5px 10px 5px 10px;
}

.project:nth-child(even) {
	background-color: #222;
	color: #fff;
}

.project:nth-child(even) > .description {
	padding-left: 20px;
}

.project:nth-child(odd) > .projectLinks {
	padding-left: 10px;
}

.project:nth-child(odd) a {
	color: #222;
}

.project:nth-child(odd) .button:hover {
	color: #fff;
	background-color: #222;
	border: 3px solid #222;
}

.project:nth-child(even) a {
	color: #fff;
}

.project:nth-child(even) .button:hover {
	color: #222;
	background-color: #fff;
	border: 3px solid #fff;
}

footer {
	text-align: center;
	height: 150px;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #222;
	color: #8dffd8;
}

footer h2 {
	padding-top: 50px;
	margin-top: 0;
	margin-bottom: 0;	
}

footer a {
	color: #8dffd8;
}

footer a:hover,
footer a:active,
footer a:focus {
	cursor: hand;
	color: #8dffd8;
	opacity: 0.7;
}

.credits > p {
	font-size: 10px;
	line-height: 1;
}

@media only screen and (max-width: 1000px) {

	.navigation {
		float: right;
		padding-right: 142px;
		padding-top: 7px;
		word-spacing: 10px;
	}

    .landing {
    	min-width: 1000px;
		min-height: 700px;
		max-width: 1000px;
		max-height: 700px;
		width: 100vw;
		background-image: url(../images/portBackImage2.png);
		background-repeat: no-repeat;
		background-size: 1000px 700px;
	}

	.aboutMe {
		background-color: #fff;
		color: #222;
		padding: 75px 142px 25px 142px;
	}

	.projects {
		padding-top: 50px;
		padding-left: 142px;
		padding-right: 142px;
		width: 100vw;
		margin-bottom: 125px;
	}

	.icon img {
		width: 200px;
		height: 150px;
	}

	.project {
		display: flex;
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

@media only screen and (max-width: 768px) {

	.navigation {
		float: none;
		text-align: center;
		padding-right: 10px;
		padding-top: 7px;
		word-spacing: 10px;
	}

    .landing {
    	min-width: 100vw;
		min-height: 100vh;
		max-width: 100vw;
		max-height: 100vh;
		width: 100vw;
		background-image: url(../images/portBackImage3.png);
		background-repeat: no-repeat;
		background-size: contain;
	}

	.aboutMe {
		background-color: #fff;
		color: #222;
		padding: 50px 50px 25px 50px;
	}

	.projects {
		padding-top: 25px;
		padding-left: 50px;
		padding-right: 50px;
		width: 100vw;
		margin-bottom: 50px;
	}

	.icon img {
		width: 200px;
		height: 150px;
	}

	.project {
		display: block;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.project > .description {
		height: none;
	}

	.project:nth-child(even) > .description {
		padding-left: 20px;
		padding-bottom: 20px;
	}

	.project:nth-child(odd) > .description {
		padding-top: 20px;
	}

	.project > .projectLinks {
		flex: none;
		height: none;
		text-align: center;
		margin-top: none;
		margin-bottom: none;
		word-spacing: 10px;
	}

	footer {
		height: 150px;
		margin-top: 0;
		margin-bottom: 0;
	}

	footer h2 {
		padding-top: 20px;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 0;	
	}
}

