html {
	box-sizing: border-box;
	-web-font-smoothing: antialiased;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #222B38;
	font-family: "Oswald" , sans-serif;
	color: #AA8039;
	font-weight: 300;
}

p {
	font-family: "Quattrocento" , serif;
}

a {
	color: #AA8039;
}

a:hover {
	opacity: 0.4;
}

section {
	margin: 0 auto;
	width: 60%;
	text-align: center;
}	

#swing {
	width: 440px;
	height: 730px;
}

.masthead-intro,
.masthead-heading {
	text-align: right;
	margin-right: 24.5%;
	letter-spacing: 0.12em;
	
}

.masthead-intro{
	margin-top: -14em;
}

.masthead-heading {
	margin-bottom: 22em;
	margin-right: 26%; 	
}

.links > li {
	display: inline-block;
	text-align: center;
	padding: 2em;
}

.portfolio,
.background,
.footer {
	margin-top: 5em;
}
