html {
	box-sizing: border-box;
	-web-font-smoothing: antialiased;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #222B38;
	font-family: "Oswald" , sans-serif;
	color: #FFAA18;
	font-weight: 300;
}

/*div {
	border: 2px solid black;
}*/

p {
	font-family: "Quattrocento" , serif;
}

a {
	color: #FFAA18;
}

a:hover {
	opacity: 0.4;
}

section {
	margin: 0 auto;
	width: 60%;
	text-align: center;
}

#enter {
  background-color: #222B38;
  font-family: "Oswald" , sans-serif;
  color: #FFAA18;
  text-shadow: 3px 4px 1px #000;
  font-weight: 300;
  letter-spacing: 0.12em;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px #000;
  border: 1px solid black;
  text-align: center;
  font-size: 1em;
  padding: 5px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#enter span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#enter span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#enter:hover span {
  padding-right: 25px;
}

#enter:hover span:after {
  opacity: 1;
  right: 0;
}

h2,
h1 {
	color: #0D6EFE;
}

h2 {
	box-shadow: 2px 3px 3px 4px #000;
}

h1,
h3 {
	text-shadow: 3px 4px 1px #000;
}

img {
	border: 2px solid #000;
}	

#swing {
	width: 440px;
	height: 730px;
	border: 5px solid #000;

}

.body {
	height: 730px;
}

header > div {
	float: left;
}

header {
	overflow: auto;
}

.swingPic {
	width: 30em;
}

.introTitles {
	width: 30em;
	text-align: center;
	margin-left: 10em;
	letter-spacing: 0.12em;
	height: 730px;
	padding-top: 255px;
}

.masthead-heading {
	padding-bottom: 12px;
}


.links > li {
	display: inline-block;
	text-align: center;
	padding: 1.5em;
}

.portfolio,
.background,
.footer {
	margin-top: 5em;
}

@media only screen and (max-width: 800px) {
	.links > li {
		padding: 0.4em;
	}
	
	#swing {
		width: 50%;
		height: 200%;
	}

	.masthead-intro,
	.masthead-heading {
		margin-right: 15%;
		letter-spacing: 0.05em;
	}

	.masthead-intro {
		font-size: 1em;
		margin-right: 13%;
	}

	.masthead-heading {
		font-size: .075em;
	}
}
